<?xml version="1.0" ?>
<model>
    <name>labyrinthe-backup</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Fabiano Junior Maia Manschein</name>
        <email>fabianomanschein2@gmail.com</email>
    </author>
    <description>Complex labyrinthe world</description>
</model>
